@mixin box($width, $height) {
  width: $width;
  height: $height;
}

@mixin position($position, $args) {
  @each $o in top right bottom left {
     $i: index($args, $o);
     @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
           #{$o}: nth($args, $i + 1);
     }
   }
   position: $position;
}

// Positioning helpers
@mixin absolute($args: '') {
 @include position(absolute, $args);
}

@mixin fixed($args: '') {
 @include position(fixed, $args);
}

@mixin relative($args: '') {
 @include position(relative, $args);
}

@mixin fontface($name, $src, $format, $fontStyle:"normal", $fontWeight:"normal") {
 @font-face {
     font-family: $name;
     src: url($src) format($format);
     font-style: $fontStyle;
     font-weight: $fontWeight;
 }
}