.page-home {
  padding: var(--standard-section-padding);

  .intro {
    //@include absolute(top 24px left 24px);
    // padding: $standard-section-padding;
    margin-top: 64px;

    h1 {
      @include med96;
      line-height: 88px;

      .intro-heading-logo img {
        display: inline-block;
        height: 72px;
        width: auto;
      }
    }

    p {
      @include reg40;
      padding-top: 0px;
      width: 100%;
      max-width: 980px;
      letter-spacing: -0.4px;
    }
  }

  @media screen and (max-width: 600px) {
    header {
      .site-header {
        &-logo {
          visibility: visible;
        }
      }
    }

    .intro {
      margin-top: 48px;
      h1 {
        display: none;
        @include med48;
        @include med64;
        line-height: 64px;

        .intro-heading-logo img {
          display: none;
          width: 48px;
        }
      }

      p {
        @include reg40;
        line-height: 42px;
        max-width: 100%;
      }
    }
  }

  .featured-projects {
    @include reg48;
    margin-top: 50vh;
    margin-bottom: 128px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
    
    &-nav {  
      .sticky-scroll {
        position: sticky;
        top: 24px;
        top: 80px;
      }

      h2 {
        @include med48;
        line-height: 50px;
        text-transform: uppercase;
        margin-bottom: 128px;
      }
    }

    &-list {
      a {
        display: block;
        margin-top: 4px;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }

    @media screen and (max-width: 600px) {
      padding: 0;

      &-nav {
        h2 {
          @include med40;
          // font-size: 32px;
          line-height: 40px;
          padding: 0;
        }
      }
    }

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
      margin-top: 38vh;

      &-nav {
        .sticky-scroll {
          position: relative;
          top: 0;
        }

        h2 {
          
          margin-bottom: 0px;
        }
      }

      &-list {
        display: none;
      }
    }


    &-container {
      @include reg24;
      display: grid;
      grid-template-columns: 1fr;
      gap: $standard-section-padding;

      @media screen and (max-width: 600px) {
        gap: 4px;
      }

      .project {
        width: 100%;
        aspect-ratio: 16/9;
        display: flex;
        align-items: flex-end;
        
        min-height: 600px;
        background: lightgrey;
        padding: 32px;
        position: relative;
        text-decoration: none;
        overflow: hidden;

        &:hover {
          cursor: pointer;

          .project-cover {
            transform: scale(1.02);
          }
        }

        .project-info {
          z-index: 1;
          color: $darkgrey1 !important;

          h4 {
            @include med24;
            margin-bottom: 4px;
          }
  
          p {
            width: 100%;
            @include reg20;
          }
        }

        @media screen and (max-width: 480px) {
          padding: 16px;
          min-height: 280px;
          height: 320px;
          
          .project-info {
            h4 {
              @include med20;
              font-size: 18px;
              line-height: 22px;
            }

            p {
              @include reg18;
              font-size: 14px;
              width: 100%;
            }
          }
        }

        @media screen and (max-width: 1200px) {
          aspect-ratio: unset !important;
        }
  
        .tag-private {
          display: none;
          padding: 4px 16px;
          background-color: $darkgrey1;
          color: $white;
          font-size: 18px;
          line-height: unset;
          border-radius: 999px;
          @include absolute(right 32px bottom 32px);
        }

        .project-cover {
          width: 100%;
          height: 100%;
          @include absolute(top 0px left 0px);
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          transition: transform 200ms linear;
        }

        &-selz {
          .project-cover {
            //background-color: lightpink;
            background-image: url('../../public/projects/selz/selz-cover.jpg');
            background-size: auto 120%;
          }
        }

        &-brickx {
          .project-info { color: $white !important; }
          .project-cover {
            //background-color: lightpink;
            background-image: url('../../public/projects/brickx/brickx-cover.jpg');
            background-size: auto 125%;
          }
        }

        &-telstra {
          .project-cover {
            //background-color: lightpink;
            background-image: url('../../public/projects/telstra/telstra-cover.jpg');
            background-size: auto 110%;
            background-color: #ABC1D9;
          }
        }

        &-anz {
          .project-cover {
            background-image: url('../../public/projects/anz/anz-cover.jpg');
            background-size: auto 110%;
            background-color: #C5EDFC;
          }
        }
      }
    }
  }
}