.page-projects {
  padding: var(--standard-section-padding);

  .page-intro {
    margin-top: 64px;
    padding: 128px 0 192px;
    @include med96;

    @media screen and (max-width: 600px) {
      @include med64;
      padding: 48px 0px 96px;
    }
  }

  .all-projects {
    // padding: 0 var(--standard-section-padding);
    margin-bottom: 96px;
    width: 100%;

    @media screen and (max-width: 600px) {
      padding: 0;
    }

    .projects-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;

      @media screen and (max-width: 600px) {
        gap: 4px;
      }

      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr;
      }

      .project {
        aspect-ratio: 16 / 9.5;
        width: 100%;
        min-height: 500px;
        background-color: #eee;
        position: relative;
        text-decoration: none;
        overflow: hidden;

        @media screen and (max-width: 600px) {
          // grid-template-columns: 1fr;
          min-height: 280px;
          aspect-ratio: unset;
        }
        
        &:hover {
          cursor: pointer;

          .project-cover {
            transform: scale(1.02);
          }
          
        }

        .project-cover {
          width: 100%;
          height: 100%;
          @include absolute(top 0px left 0px);
          color: $white;
          background-position: center center !important;
          background-size: cover;
          background-repeat: no-repeat;
          transition: transform 200ms linear;
        }

        &-selz {
          .project-cover {
            background-image: url('../../../public/projects/selz/selz-cover.jpg');
            background-size: auto 130%;
          }
        }

        &-brickx {
          .project-cover {
            background-image: url('../../../public/projects/brickx/brickx-cover.jpg');
            background-size: auto 120%;
          }
        }

        &-telstra {
          .project-cover {
            background-image: url('../../../public/projects/telstra/telstra-cover.jpg');
            background-size: auto 110%;
            background-color: #ABC1D9;
          }
        }

        &-anz {
          .project-cover {
            background-image: url('../../../public/projects/anz/anz-cover.jpg');
            background-size: auto 110%;
            background-color: #C5EDFC;
          }
        }

        &-selz-dm {
          .project-cover {
            background-image: url('../../../public/projects/selz-dm/selz-dm-cover.jpg');
            background-size: auto 130%;
            background-color: #E9EBE1;
          }
        }

        &-selz-spc {
          .project-cover {
            background-image: url('../../../public/projects/selz-spc/selz-spc-cover.jpg');
            background-size: auto 120%;
            background-color: #ECE7EF;
          }
        }

        .overlay {
          opacity: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
          
          .bg-color {
            width: 100%;
            height: 100%;
            background-color: $darkgrey1;
            opacity: 0.5;
            @include absolute(top 0 left 0);
          }

          h4 {
            @include med24;
            color: $white;
            z-index: 2;
          }
        }

        .tag-private {
          display: none;
          padding: 8px 16px;
          background-color: $darkgrey1;
          color: $white;
          font-size: 20px;
          border-radius: 999px;
          @include absolute(right 32px bottom 32px);
        }
      }
    }
  }
}