// Telstra project page
.page-telstra {
  .intro-image {
    background-image: url('../../../public/projects/telstra/telstra-cover.jpg');
    background-size: auto 110%;
    background-color: #ABC1D9;
    
    @media screen and (max-width: 600px) {
      background-size: auto 100%;

    }
  }

  .project-info {
    .project-title {
      color: #0064D2;
    }
  }

  .section {
    .section-heading-48, .section-heading-40 { 
      margin-bottom: 32px;

      @media screen and (max-width: 600px) {
        margin-bottom: 16px;
      }
    }

    &-bill-history {
      //margin-top: 160px;
    }
  }
}